# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# IDE
.idea
.vscode
*.swp
*.swo

# Node
node_modules

# Logs
*.log
storage/logs/*

# Cache
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# Tests
tests
phpunit.xml

# Environnement
.env
.env.backup
.env.production




